@import "variables.css";
@import "fonts.css";

/* body geral */

body {
  background-color: var(--azul-fundo-primario);
  font-family: "Inter", sans-serif;

  h1,
  h2 {
    font-family: "Playfair Display", serif;
  }

  a {
    text-decoration: none;
    color: var(--azul-texto-primario);
  }
}

.body-entrar-e-criar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

/* header */

/* header de quem NÃO é logado */
.header-nao-logado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--azul-fundo-secundario);
  width: 100%;
  height: 130px;
  padding: 0 50px;

  a {
    color: var(--azul-texto-primario);
    text-decoration: none;
    width: fit-content;
    height: fit-content;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      width: 100%;
      height: 100%;

      img {
        width: 86px;
        height: 108px;
      }

      h1 {
        font-size: 52px;
        font-weight: 700;
      }
    }
  }

  .botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: fit-content;
    height: fit-content;

    .botao {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 50px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 700;
      background-color: var(--azul-botao);
    }

    .botao:hover {
      background-color: var(--azul-hover-e-cards);
    }
  }
}

/* header de quem é logado */
.header-logado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: var(--azul-fundo-secundario);
  width: 100%;
  height: 130px;

  #perfil-link {
    width: 87px;
    height: 88px;
  }

  #logo-link {
    width: 86px;
    height: 108px;
  }

  nav {
    ul {
      display: flex;
      list-style: none;
      gap: 50px;

      li {
        a {
          font-size: 32px;
          font-weight: 400;
          text-decoration: none;
          color: var(--azul-texto-primario);
          font-family: "Inter", sans-serif;
        }

        a:hover,
        #atual {
          text-decoration: underline;
        }
      }
    }
  }
}

/* main */

/* main das paginas de login e entrar */
.main-forms {
  .secao-forms {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--azul-fundo-secundario);
    width: 630px;
    padding: 30px 0;
    gap: 30px;

    .logo-maior {
      width: 200px;
      height: 250px;
    }

    form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 30px;
      color: var(--azul-texto-primario);

      .inputs {
        display: flex;
        flex-direction: column;
        width: 450px;
        height: 80px;

        label {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 5px;
          width: fit-content;
        }

        input {
          width: 450px;
          height: 50px;
          padding: 15px 20px;
          border-radius: 10px;
          background-color: var(--azul-fundo-primario);
          color: var(--azul-texto-primario);
        }

        input::placeholder {
          color: var(--azul-texto-primario);
          font-size: 16px;
        }

        input:focus {
          outline: none;
          background-color: var(--azul-fundo-perfil-e-input);
        }
      }
      .botao-maior {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 450px;
        height: 50px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        background-color: var(--azul-botao);
        color: var(--azul-texto-primario);
        
      }

      .botao-maior:hover {
        background-color: var(--azul-hover-e-cards);
      }
    }
  }
}

/* main das paginas do footer */
.main-pag-footer {
  align-content: center;
  width: 1450px;
  height: 605px;
  margin: 115px auto;

  .container-principal-das-pag-do-footer {
    display: flex;
    gap: 145px;

    .texto-principal {
      color: var(--azul-texto-primario);

      h3 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 35px;
      }

      p {
        margin-bottom: 2rem;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
}

/* main das paginas de descrição dos livros */
.main-livros {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  margin: 90px;

  .secao-dados-livros {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 567px;

    img {
      width: 391px;
      height: 567px;
      margin-right: 57px;
    }

    h2 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 28px;
      width: fit-content;
      height: fit-content;
      color: var(--azul-texto-primario);
    }

    .dados-livro {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 1250px;
      height: 475px;
      background-color: var(--azul-fundo-secundario);

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        p {
          font-size: 24px;
          font-weight: 400;
          width: 570px;
          color: var(--azul-texto-primario);
        }
      }
    }
  }

  .secao-sinopse {
    display: flex;
    flex-wrap: wrap;
    color: var(--azul-texto-primario);

    h3 {
      width: 100%;
      font-size: 40px;
      font-weight: 700;
    }

    .linha-branca {
      width: 1725px;
      height: 5px;
      background-color: var(--azul-texto-primario);
    }
    .sinopse {
      width: 1720px;
      height: fit-content;
      padding: 50px;
      margin-top: 45px;
      background-color: var(--azul-fundo-secundario);

      .sinopse-texto {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;

        p {
          margin: 0 25px 0 25px;
          width: 100%;
          text-align: justify;
          font-size: 32px;
          font-weight: 500;
        }
      }
    }
  }

  .secao-colecao {
    h3 {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 20px;
      color: var(--azul-texto-primario);
    }

    .linha-branca {
      width: 1725px;
      height: 5px;
      background-color: var(--azul-texto-primario);
    }

    .cards-colecao {
      display: flex;
      flex-wrap: wrap;
      gap: 75px;
      margin-left: 55px;
      margin-top: 60px;

      .card {
        width: 322px;
        height: 564px;

        img {
          width: 322px;
          height: 462px;
          margin-bottom: 20px;
        }

        p {
          font-size: 32px;
          text-align: center;
          font-weight: 500;
        }
      }
    }
  }
}


/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--azul-fundo-secundario);
  width: 100%;
  height: 344px;

  .colunas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;

    .coluna {
      width: 333px;
      height: 100%;

      h3 {
        font-family: "Inter", sans-serif;
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 60px;
        color: var(--azul-texto-primario);
      }

      .lista {
        ul {
          display: flex;
          flex-direction: column;
          list-style: none;
          gap: 30px;

          li {
            font-size: 24px;
            font-weight: 400;

            a {
              color: var(--azul-texto-primario);
              text-decoration: none;
            }
            #atual-footer {
              text-decoration: underline;
              color: var(--azul-detalhes);
            }

            a:hover {
              text-decoration: underline;
              color: var(--azul-detalhes);
            }
          }
        }
      }
    }

    .linha-vertical {
      width: 4px;
      height: 265px;
      background-color: var(--azul-detalhes);
    }
  }
}
